
.autorization {
    display: grid;
    grid-template-columns: auto min-content;
    grid-column-gap: 0.4rem;
}

.autorization i {
    margin: auto 0 0 0;
}

.autorization label {
    grid-column: span 2;
    font-size: 120%;
}

.autorization__email {
    grid-column: span 2;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center button {
    margin-top: 3rem;
    width: 20rem;
    border-radius: 10px;
}
